<!doctype html>
<html>
    <head>
        <title>OLQ {{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="URL-Shortener mit QR-Code-Generator zum verkürzen und teilen von langen Links.">
        <meta name="keywords" content="URL, Shortener, QR, Links, QR-Code, Generator, generieren, QR-Generator, verkürzen, URL-Shortener, Link-Shortener, QR-Code-Generator, kurz, kurze Links, Kurzlink, Kurzlinks, Kurz-Links, Kurz-Link">
        <link rel="canonical" href="https://olqr.de" />
        <meta property="og:locale" content="de_DE" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="OLQr - URL-Shortener mit QR-Code" />
        <meta property="og:url" content="http://olqr.de" />
        <meta property="og:site_name" content="OLQr URL-Shortener" />

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
        <link rel="icon" href="/img/favicon.ico?v=2">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/icon120.png" />
        <meta name=”theme-color” content=”#CE0300″>
        <link rel=”icon” sizes=”192×192″ href="/img/icon192.png" >

        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="/js/jquery.qrcode-0.11.0.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="jquery.doge.js"></script>
        {{#if showTests}}

            <link rel="stylesheet" href="/vendor/mocha.css">

        {{/if}}
    </head>
    <body>
    <!--Navi-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
         <div class="">
            <div class="col-md-5 col-xs-2">
                <a class="logo" href="/">
                    <!--<img class="navbar-logo img-circle" alt="Brand" src="/img/logo.png">-->
                    <h3>OLQ</h3>
                </a>
            </div>
            <div class="col-md-2 col-xs-8">
                <h1 class="h3 text-center">{{title}}</h1>
            </div>
            <div class="col-md-5 col-xs-2">
                 {{#if username}}
                    <div class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <h3>
                                <span id="username">{{username}}</span>
                                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                            </h3>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="/">Links</a></li>
                            <li><a href="/profile">Profil</a></li>
                            {{#if admin}}
                                <li><a href="/admin"><strong>Administration</strong></a></li>
                            {{/if}}
                            <li class="divider"></li>
                            <li><a id="logout" href="">Logout</a></li>
                        </ul>
                    </div>
                    {{else}}
                    <form id="loginform" class="" role="search">
                        <div class="dropdown pull-right">
                            <span id="loginToggle" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <h3>Login</h3>
                            </span>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li>
                                    <div class="form-group">
                                      <input type="user" name="username" id="inputUsername" class="form-control" placeholder="Benutzername" autocapitalize="off" autocorrect="off" required>
                                      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" autocapitalize="off" autocorrect="off" required>
                                    </div>
                                </li>
                                <li>
                                    <button type="submit" id="loginBtn" class="btn btn-primary btn-block">Anmelden</button>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <button onclick="window.location='/reg'" type="button" class="btn btn-default btn-block">Registrieren</button>
                                </li>
                            </ul>
                        </div>
                     </form>
                    {{/if}}
            </div>
        </div>
    </nav>
    <!--Body-->
    <div class="container wrap">
        <div class="row">
            <div class="col-md-12">
                <div id="msgBox"></div>
            </div>
        </div>
        {{{body}}}
    </div>
        <footer class="footer">
            <div class="container">
                <p class="footertext text-center">
                    <span class ="text-muted" id="copyright">© 2015 </span>
                    <a href="/impressum">Impressum</a>
                    <span class="text-muted"> | </span>
                    <a href="/datenschutz">Datenschutz</a>
                    <span class="text-muted"> | </span>
                    <a href="/nutzungsbedingungen">Disclaimer</a>

                </p>
            </div>
        </footer>
    <!-- -->
    {{#if showTests}}
        <div id="mocha"></div>
        <script src="/vendor/mocha.js"></script>
        <script src="/vendor/chai.js"></script>
        <script>
            mocha.ui('tdd');
            var assert = chai.assert;
        </script>
        <script src="/qa/tests-global.js"></script>
        {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
        {{/if}}
        <script>mocha.run();</script>
    {{/if}}
<script type="application/javascript">
var tapcount = 0;
$('#copyright').click( function() {
    tapcount++;
    if(tapcount == 5){
        $($.doge);
    }
});
$(document).ready(function(){
    var keys     = [];
    var konami  = '38,38,40,40,37,39,37,39,66,65';

   $(document)
        .keydown(
            function(e) {
                keys.push( e.keyCode );
                if ( keys.toString().indexOf( konami ) >= 0 ){
                    $($.doge);
                    keys = [];
                }
            }
        );
});
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $('#impressum').tooltip();

        $('#loginToggle').click(function () {
            setTimeout(function(){$('#inputUsername').focus();},0);
        });

        $('.dropdown input').click(function(e){
            e.stopPropagation();
        });

        $("#loginBtn").click(function(e){
            e.preventDefault();

            var postData = $("#loginform").serializeArray();

            $.ajax({
                type: 'POST',
                url: '/main/dynamic/action/login',
                data: JSON.stringify(postData),
                contentType: 'application/json',
                success: function(data){
                    window.location = "/";
                },
                error: function(error){
                        //Fehler ausgeben
                        console.log('Fehler:'+error);
                    }
            });
        });

        $("#logout").click(function(e){
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/main/dynamic/action/logout',
                success: function(data){
                    window.location = "/";
                },
                error: function(error){
                        //Fehler ausgeben
                        console.log('Fehler:'+error);
                    }
            });
        });
    </script>
    </body>
</html>
