<div class="card card-admin">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">User</a></li>
                <li role="presentation"><a href="#links" aria-controls="links" role="tab" data-toggle="tab">Links</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="users">
                    <table class="table" id="usertable">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    E-Mail
                                </th>
                                <th>
                                    Registrierdatum
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="userList">
                        </tbody>
                    </table>
                </div>

                <div role="tabpanel" class="tab-pane" id="links">
                    <table class="table" id="linkstable">
                        <thead>
                            <tr>
                                <th>
                                    URL
                                </th>
                                <th>
                                    Short-URL
                                </th>
                                <th>
                                    Erstelldatum
                                </th>
                                <th>
                                    Benutzername
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="linkList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
<script type="text/javascript">
    $('#users a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
    $('#links a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });

    $(function () {
        $.ajax({
            type: 'POST',
            url: '/main/dynamic/action/getAllUsers',
            contentType: 'application/json',
            success: function(data){
                if(data[0].allUsers === 'non'){
                    //keine User
                    $('#msgBox').html('<div class="alert alert-info">keine Benutzer vorhanden!</div>');
                    $('table').hide();
                }else{
                    reloadUserList(data);
                }

            },
            error: function(error){
                    //Fehler ausgeben
                    console.log(error);
                }
        });
    });

    //Baut die Liste der Links
    function reloadUserList(data){
        for (var i in data)
        {
            $("#userList").append(
                "<tr>"+
                    "<td class='col-md-4'><a href='profile?u=" + data[i].username + "'>" + data[i].username + "</a></td>"+
                    "<td class='col-md-4'>" + data[i].email + "</td>"+
                    "<td class='col-md-2'>" + data[i].reg_date + "</td>"+
                    "<td class='col-md-2'>" +
                        "<a class='btn btn-default btn-xs' title='sperren'><i class='glyphicon glyphicon-lock'></i></a>"+
                        "<a class='btn btn-default btn-xs' title='löschen'><i class='glyphicon glyphicon-trash  '></i></a>"+
                        "<a class='btn btn-default btn-xs' title='bearbeiten'><i class='glyphicon glyphicon-pencil'></i></a>"+
                        "<a class='btn btn-default btn-xs' title='Userlinks'><i class='glyphicon glyphicon-list'></i></a>"+
                    "</td>" +
                "</tr>"
            );
        }
    }

    $(function () {
        $.ajax({
            type: 'POST',
            url: '/main/dynamic/action/getAllLinks',
            contentType: 'application/json',
            success: function(data){
                if(data[0].allLinks === 'non'){
                    //keine Links
                    $('#msgBox').html('<div class="alert alert-info">keine Links vorhanden!</div>');
                    $('table').hide();
                }else{
                     reloadLinkList(data);
                }
            },
            error: function(error){
                    //Fehler ausgeben
                    console.log(error);
                }
        });
    });

    //Baut die Liste der Links
    function reloadLinkList(data){
        var tmporg;
        var tmpusername = "";
        for (var i in data)
        {
            var tmporg = trimUrl(data[i].org_link);

            if(data[i].username == "anon")
            {
                tmpusername = "<p class='text-muted'>" + data[i].username + "</p>";
            }
            else
            {
                tmpusername = data[i].username;
            }

            $("#linkList").append(
                "<tr>"+
                    "<td class='col-md-6'><a href='" + setProtocol(data[i].org_link) + "' target='_blank' rel='nofollow'>" + tmporg + "</a></td>"+
                    "<td class='col-md-1'><a href='/" + data[i].slink + "'>" + data[i].slink + "</a></td>"+
                    "<td class='col-md-2'>" + data[i].createdate + "</td>"+
                    "<td class='col-md-2'>" + tmpusername + "</td>"+
                    "<td class='col-md-1'>" +
                        "<a class='btn btn-default btn-xs' title='löschen' onclick='delLink(\"" + data[i].slink + "\", $(this))'><i class='glyphicon glyphicon-trash'></i></a>"+
                    "</td>" +
                "</tr>"
            );
    }
    }

    function delLink(slink,e){
        var delData = JSON.stringify({"slink" : slink});
            $.ajax({
                type: 'POST',
                url: '/main/dynamic/action/ajaxDeleteSlink',
                contentType: 'application/json',
                data: delData,
                success: function(data){
                    if(data.deletelink == "ok"){
                        e.parent().parent().remove();
                    }else{
                        $("#msgBox").html('<div class="alert alert-danger">Fehler beim löschen.</div>');
                    }
                },
                error: function(error){
                        //Fehler ausgeben
                        console.log(error);
                    }
            });
    }

    function setProtocol(checklink)
    {
        if((checklink.indexOf("://")) == -1)
        {
            return "http://" + checklink;
        }
        return checklink;
    }

    function trimUrl(url)
    {
        var str1;
        var str2;
        if(url.length > 70)
        {
            str1 = url.substr(0, 27);
            str2 = url.substr(url.length - 40, url.length);
            return str1 + "..." + str2;
        }
        return url;

    }

</script>
