<div class="card card-home">
<form id="shortLinkForm" role="form" class="form" action="/">
    <div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                {{#if username}}
                    <div class="alert alert-info" role="alert">
                        Kürze deine langen URLs in einen OLQR-Link mit QR-Code!<br>
                        Nutze die Beschreibung um den Inhalt des Links zu vermerken!
                    </div>
                    {{else}}
                        <div class="alert alert-info" role="alert">
                        Kürze deine langen URLs in einen OLQR-Link mit QR-Code!<br>
                        Wenn du dich registrierst kannst du die Links in deinem Profil speichern!
                        </div>
                {{/if}}
                    </div>
                </div>
                <h2 class="h4">Erstelle deinen eigenen OLQR-Kurzlink!</h2>
                <form id="linkform" role="form" enctype="application/json">
                    <input type="text" name="urlToShort" placeholder="URL" class="form-control" autofocus required>
                    {{#if username}}
                            <input type="text" name="desc" placeholder="Beschreibung" class="form-control mt-10" size="45">
                    {{/if}}
                    <div class="mt-10" role="group" aria-label="...">
                        {{#if username}}
                        <div id="recaptcha-top">
                            <div class="g-recaptcha" data-sitekey={{pub_captcha}}></div>
                        </div>
                        <div id="saveLink-bottom">
                            <button type="button" id="saveBtn" class="btn btn-primary pull-right" type="submit">
                                    Absenden
                            </button>
                        </div>
                            {{else}}
                            <div id="agb" class="checkbox">
                                <label>
                                    <input type="checkbox" id="agbCheckbox"> Ich akzeptiere die <a href="nutzungsbedingungen" target="_blank" onclick="return popup(this.href);">Nutzungsbedingungen</a>
                                </label>
                            </div>
                            <div id="saveLink">
                                <button type="button" id="saveBtn" class="btn btn-primary pull-right" type="submit">
                                        Absenden
                                </button>
                            </div>
                            <div id="recaptcha">
                                <div class="g-recaptcha" data-sitekey={{pub_captcha}}></div>
                            </div>
                        {{/if}}

                    </div>
                    <div id="urlMsgBox"></div>
                </form>
                {{#if username}}
                    <!--Meine URLS -->
                <div class="table-responsive" id="myLinks">
                    <table class="table table-hover table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Link</th>
                                <th>Beschreibung</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="shortUrlList">
                        </tbody>
                    </table>
                </div>
                {{/if}}
             </div>
        </div>
    </div>
    </div>
</form>
</div>

<script type="text/javascript">
    {{#if username}}
        $(function () {
            $.ajax({
                type: 'POST',
                url: '/main/dynamic/action/userslinks',
                contentType: 'application/json',
                success: function(data){

                    console.log(data);

                    //reload liste
                    if(data[0].user_slinks === 'no_links'){
                        //Liste ist leer
                        $('#msgBox').html('<div class="alert alert-info">Noch keine Links vorhanden.</div>');
                        $('table').hide();
                    }else{
                         reloadList(data);
                    }

                },
                error: function(error){
                        //Fehler ausgeben
                        console.log(error);
                    }
            });
        });

        //Baut die Liste der Links
        function reloadList(data){
            for (var i in data)
            {
                $("#shortUrlList").append(
                    '<tr>'+
                      '<td><a href="'+setProtocol(data[i].org_link)+'" target="_blank" rel="nofollow">'+trimUrl(data[i].org_link)+'</a></td>'+
                      '<td>'+data[i].description+'</td>'+
                      '<td>'+
                        '<a class="btn btn-default btn-xs" title="Weiterleitungsseite" href="/'+data[i].slink+'"><i class="glyphicon glyphicon-share-alt"></i></a>'+
                        '<a class="btn btn-default btn-xs" title="Drucken" href="/p/'+data[i].slink+'"><i class="glyphicon glyphicon-print"></i></a>'+
                        '<a class="btn btn-default btn-xs" title="Löschen" onclick="delLink(\''+data[i].slink+'\',$(this))"><i class="glyphicon glyphicon-remove text-danger"></i></a>'+
                      '</td>'+
                    '</tr>'
                );
            }
        }


        function trimUrl(url)
        {
            var str1;
            var str2;
            if(url.length > 55)
            {
                str1 = url.substr(0, 25);
                str2 = url.substr(url.length - 27, url.length);
                return str1 + "..." + str2;
            }
            return url;
        }

        function delLink(slink,e){

            var delData = JSON.stringify({"slink" : slink});
                $.ajax({
                    type: 'POST',
                    url: '/main/dynamic/action/ajaxDeleteUserSlink',
                    contentType: 'application/json',
                    data: delData,
                    success: function(data){
                        if(data.deletelink == "ok"){
                            e.parent().parent().remove();
                        }else{
                            $("#msgBox").html('<div class="alert alert-danger">Fehler beim löschen.</div>');
                        }
                    },
                    error: function(error){
                            //Fehler ausgeben
                            console.log(error);
                        }
                });
        }


    {{/if}}

    $("#shortLinkForm").submit(function(e){
         e.preventDefault();
        $("#saveBtn").click();
    });

    function setProtocol(checklink)
    {
        if((checklink.indexOf("://")) == -1)
        {
            return "http://" + checklink;
        }
        return checklink;
    }

    $(function () {
      $('[data-toggle="popover"]').popover()
    })

    $("#saveBtn").click(function(e){
        e.preventDefault();
        $("#urlMsgBox").html('');
        if($('#agbCheckbox').prop('checked') == false || $("input[name='urlToShort']").val() == "")
        {
            if($('#agbCheckbox').prop('checked') == false)
            {
                $("#urlMsgBox").append('<div class="alert alert-danger" role="alert">Sie müssen die Nutzungsbedingungen akzeptieren.</div>');
                $("#agb").addClass('has-error');
            }
            if($("input[name='urlToShort']").val() == "")
            {
                $("#urlMsgBox").append('<div class="alert alert-danger" role="alert">Der eingegebene Link ist ungültig.</div>');
            }
        }
        else
        {
            var postData = $("#shortLinkForm").serializeArray();
            console.log(JSON.stringify(postData));

            $("input[type='text']").val("");

            $.ajax({
                type: 'POST',
                url: '/main/dynamic/action/insertslink',
                data: JSON.stringify(postData),
                contentType: 'application/json',
                success: function(data){
                    //Wenn Angemeldet dann
                    if (!data.addslink)
                    {
                        {{#if username}}
                            var d = [""];
                            d[0] = data;
                            reloadList(d);
                            grecaptcha.reset();
                            {{else}}
                            //weiterleitungs zur printseite
                             window.location = "/p/"+data.slink;
                        {{/if}}
                    }
                    else
                    {
                        if(data.addslink.contains("link"))
                        {
                            $("#urlMsgBox").append('<div class="alert alert-danger" role="alert">Der eingegebene Link ist ungültig.</div>');
                            $("input[name='urlToShort']").addClass("has-error");
                            grecaptcha.reset();
                        }
                        if(data.addslink.contains("desc"))
                        {
                            $("#urlMsgBox").append('<div class="alert alert-danger" role="alert">Die eingegebene Beschreibung ist ungültig.</div>');
                            grecaptcha.reset();
                        }
                        if(data.addslink.contains("captcha"))
                        {
                            $("#urlMsgBox").append('<div class="alert alert-danger" role="alert">Das Captcha wurde nicht korrekt ausgefüllt.</div>');
                            grecaptcha.reset();
                        }
                        if(data.addslink.contains("fehler"))
                        {
                            $("#urlMsgBox").append('<div class="alert alert-danger" role="alert">Es ist ein unbekannter Fehler aufgetreten. Bitte versuchen Sie es erneut.</div>');
                            grecaptcha.reset();
                        }

                    }
                },
                error: function(error){
                        //Fehler ausgeben
                        console.log(error);
                    }
            });
        }
    });

    function popup (url) {
        fenster = window.open(url, "Popupfenster", "width=500,height=600,resizable=yes,scrollbars=yes");
        fenster.focus();
        return false;
    }
</script>
