<div id="fullscreen_bg" class="fullscreen_bg"/>
    <div class="container container-signin">
        <div class="card card-signin">
            <h2 class="form-signin-heading text-center">Anmeldung</h2>
            <img class="img-circle profile-img" src="/img/avatar.png" alt="">
            <form id="loginForm" class="form-signin" role="form" action="/">
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                <label for="inputPassword" class="sr-only">Passwort</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button id="loginBtn" class="btn btn-lg btn-primary btn-block" type="button">Anmelden</button>
                <div class="checkbox">
                    <a href="reg" class="pull-right">Hilfe?</a>
                    <label>
                        <input type="checkbox" name="keepLoginIn" value="remember-me"> Angemeldet bleiben
                    </label>
                </div>
            </form>
            <p class="text-center">
                <a href="reg">Registrieren</a>
            </p>
        </div>
    </div>
</div>
<script type="application/javascript">
    $("#loginBtn").click(function(e){
        e.preventDefault();

        var postData = $("#loginForm").serializeArray();
        console.log(JSON.stringify(postData));

        $.ajax({
            type: 'POST',
            url: 'http://localhost:3000/main/dynamic/action/login',
            data: JSON.stringify(postData),
            contentType: 'application/json',
            success: function(data){
                console.log(data);
            }
        });


    });
</script>
