<div class="card card-contact">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <h4>Nutzungsbedingungen:</h4>
                    <p><b>Nicht erlaubte Aktivitäten</b></p>
                    <p>
                        Der URL-Shortener darf für folgende Aktivitäten <b>NICHT</b> genutzt werden:
                        <ul>
                            <li>Verlinkung zu betrügerischen Webseiten (z.B. Phishing-Seiten) bzw. zu Seiten, die Schadsoftware enthalten</li>
                            <li>Verlinkung von Dateien, die Schadsoftware beinhalten</li>
                            <li>Verlinkung von Webseiten, die kinderpornografisches Material enthalten oder damit im Zusammenhang stehen</li>
                            <li>Verwendung von Links für unerlaubte Werbung</li>
                            <li>Verwendung von Links für Massennachrichten (Spam) (z.B. in Foren oder E-Mails)</li>
                            <li>Verlinkung zu Webseiten und Dateien mit illegalem Material, insbesondere illegalem Filesharing</li>
                            <li>Verwendung für Dinge, die gegen das Gesetz verstoßen</li>
                        </ul>
                    </p>
                    <p>
                        Wir behalten uns das Recht vor, gekürzte Links zu entfernen, wenn wir diese für unangemessen halten oder gegen die Nutzungsbedingungen verstoßen. Nutzer, die gegen die Nutzungsbedingen verstoßen, werden von der Nutzung dieses Dienstes ausgeschlossen.<br>
                        Es ist nicht gestattet, unseren Dienst übermäßig in Anspruch zu nehmen. Damit ist vor allem das Kürzen von vielen Links in einem kurzen Zeitraum gemeint. Wir behalten uns das Recht vor, Nutzer von unserem Dienst auszuschließen, wenn (nach unserem Ermessen) eine übermäßige Nutzung vorliegt. Des Weiteren behalten wir uns das Recht vor, die maximale Anzahl der Erstellung von Kurz-Links in einem Zeitraum zu limitieren.
                    </p>
                    <p>
                        Es besteht kein Anspruch auf Gewährleistung jeglicher Art. Wir übernehmen keine Haftung für Schäden oder sonstige Ausfälle, wenn der Dienst nicht verfügbar ist oder ein Datenverlust entstanden ist. Wir haften nicht für Links zu externen Webseiten, die nicht von uns erstellt worden sind. Wir haben auf den Inhalt externer Webseiten keinen Einfluss und können daher auch keine Gewähr dafür übernehmen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
