<div class="row">
     <div class="col-md-8 col-md-offset-2">
            <div class="text-center" id="qr">
            </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">gekürzte URL</h3>
                    </div>
                    <div class="panel-body" id="slink">
                        http://olqr.de/kurz
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Original-URL</h3>
                    </div>
                    <div class="panel-body" id="olink">
                        http://Opensource-Linkshortener-with-Qrcodes.de/langerlink
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
            </div>
        </div>
        <div class="text-center">
            <button id="printBtn" class="btn btn-primary">Drucken</button>
            <a href="" class="btn btn-primary" download="qr.png" id="saveQRCBtn">QR-Code speichern</a>
        </div>
    </div>
</div>

<script type="application/javascript">
    var data ={{{slinkData}}};
    var org_link = data[0].org_link;
    var slink = data[0].slink;
    var link = "";
    var glink = "";
    var redirectUrl = "";
    var currentUrl = setProtocol(window.location.host) + "/" + slink;
    link = setProtocol(org_link);
    normalizeQr();
    function setProtocol(checklink)
    {
        if((checklink.indexOf("://")) == -1)
        {
            return "http://" + checklink;
        }
        return checklink;
    }

    $("#printBtn").click(function(e){
        window.print();
    });

    $("#saveQRCBtn").click(function(e){
        document.getElementById('saveQRCBtn').download = slink + ".png";
        document.getElementById('saveQRCBtn').href = $("#qr").children('img').attr("src");
    });


    function normalAttributes()
    {
        $("#qr").children("img").attr({
            onmouseclick: "expandQr()"
        });
    }

    function expandAttributes()
    {
        $("#qr").children("img").attr({
            onmouseclick: "normalizeQr()"
        });
    }

    function normalizeQr()
    {
        $("#qr").empty();
        $("#qr").qrcode({
        "render":"image",
        "size": 200,
        "fill": '#000',
        "background": '#fff',
        "text": currentUrl,
        "ecLevel": 'H'
        });
        normalAttributes();
    }

    function expandQr()
    {
        $("#qr").empty();
        $("#qr").qrcode({
        "render":"image",
        "size": 250,
        "fill": '#a33',
        "text": currentUrl,
        "ecLevel": 'H'
        });
        expandAttributes();
    }

    document.getElementById('olink').innerHTML = "<a href='" + link + "'>" + link + "</a>";
    document.getElementById('slink').innerHTML = "<a href='" + currentUrl +"'>" + currentUrl + "</a>";

</script>
