<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <!-- Übersicht Profil -->
        <div class="karte">
        <h2 class="form-signin-heading text-center">Profilübersicht</h2>
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <div class="form-group">
                        <label class="col-sm-4 col-sm-35 control-label">Benutzername:</label>
                        <div class="col-sm-8 col-sm-85">
                            <p class="form-control-static">{{username}}</user></p>
                        </div>
                        <label class="col-sm-4 col-sm-35 control-label">Status:</label>
                        <div class="col-sm-8 col-sm-85">
                            <p class="form-control-static">{{status}}</user></p>
                        </div>
                        <label class="col-sm-4 col-sm-35 control-label">E-Mail:</label>
                        <div class="col-sm-8 col-sm-85">
                            <p class="form-control-static">{{email}}</p>
                        </div>
                        {{#if admin}}
                            <button class="btn btn-primary"  type="button" id="btn-admin">Admin</button>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>

        <!-- Email ändern -->
        <div class="karte">
        <h2 class="form-signin-heading text-center">E-Mail ändern</h2>
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <form class="form-changeEmail" id="changeEmailForm" role="form">
                        <div class="form-group">
                            <label for="inputNewEmail" class="col-sm-4 col-sm-35 control-label">Neue E-Mail:</label>
                            <div class="col-sm-8 col-sm-85">
                                <input type="email" class="form-control" id="inputNewEmail" placeholder="neue E-Mail" name="newEmail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputNewEmail" class="col-sm-4 col-sm-35 control-label">Passwort:</label>
                            <div class="col-sm-8 col-sm-85">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Passwort" name="password">
                            </div>
                        </div>
                        <div class="sbmBtn">
                            <button class="btn btn-primary" type="button" id="btnChangeEmail">übernehmen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Passwort ändern -->
        <div class="karte">
        <h2 class="form-signin-heading text-center">Passwort ändern</h2>
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <form class="form-changePw" id="changePWForm" role="form">
                        <div class="form-group">
                            <label for="inputOldPassword" class="col-sm-4 col-sm-35 control-label">Altes Passwort:</label>
                            <div class="col-sm-8 col-sm-85">
                                <input type="password" class="form-control" id="inputOldPassword" placeholder="altes Passwort" name="oldPassword">
                            </div>
                        </div><br>
                        <div class="form-group">
                            <label for="inputNewPassword" class="col-sm-4 col-sm-35 control-label">Neues Passwort:</label>
                            <div class="col-sm-8 col-sm-85">
                                <input type="password" class="form-control" id="inputNewPassword" placeholder="neues Passwort" name="newPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputNewPasswordCheck" class="col-sm-4 col-sm-35 control-label">Neues Passwort:</label>
                            <div class="col-sm-8 col-sm-85">
                                <input type="password" class="form-control" id="inputNewPasswordCheck" placeholder="Passwort wiederholen" name="newPasswordCheck">
                            </div>
                        </div>
                        <div class="sbmBtn">
                            <button class="btn btn-primary" type="button" id="btnChangePW">übernehmen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#btnChangeEmail").click(function(e){
            e.preventDefault();

            if($('#changeEmailForm')[0].checkValidity()){

                var postData = JSON.stringify({"pw" : $("#inputPassword").val(),"newMail" : $("#inputNewEmail").val()});

                 console.log(postData);

                //$("input[type='text']").val("");

                $.ajax({
                    type: 'POST',
                    url: '/main/dynamic/action/ajaxChangeEmail',
                    data: postData,
                    contentType: 'application/json',
                    success: function(data){
                        if(data.email_change == "wrongPassword"){
                             $("#msgBox").html('<div class="alert alert-danger">Falsches Passwort.</div>');
                        }
                        if(data.email_change == "fehler"){
                             $("#msgBox").html('<div class="alert alert-danger">Es ist ein Fehler aufgetreten.</div>');
                        }
                        if(data.email_change == "ok"){
                             $("#msgBox").html('<div class="alert alert-success">Email wurde erfolgreich geändert.</div>');
                        }

                            console.log(data);
                    },
                    error: function(error){
                            //Fehler ausgeben
                            console.log(error);
                        }
                });
            }
        });

        $("#btnChangePW").click(function(e){
            e.preventDefault();

            if($("#inputNewPassword").val() == $("#inputNewPasswordCheck").val() && $("#inputNewPassword").val() != ""){

                var postData = JSON.stringify({"pw" : $("#inputOldPassword").val(),"newpw" : $("#inputNewPassword").val()});

                console.log(postData);

                $("input[type='text']").val("");

                $.ajax({
                    type: 'POST',
                    url: '/main/dynamic/action/ajaxChangePassword',
                    data: postData,
                    contentType: 'application/json',
                    success: function(data){
                        if(data.pw_change == "wrongPassword"){
                             $("#msgBox").html('<div class="alert alert-danger">Falsches Passwort.</div>');
                        }
                        if(data.pw_change == "fehler"){
                             $("#msgBox").html('<div class="alert alert-danger">Es ist ein Fehler aufgetreten.</div>');
                        }
                        if(data.pw_change == "ok"){
                             $("#msgBox").html('<div class="alert alert-success">Passwort wurde erfolgreich geändert.</div>');
                        }

                            console.log(data);
                    },
                    error: function(error){
                            //Fehler ausgeben
                            console.log(error);
                        }
                });
            }else{
                             $("#msgBox").html('<div class="alert alert-danger">Neues Passwort stimmt nicht überein.</div>');
            }
        });


    $('#btn-admin').click(function (e) {
        window.location = "/admin";
    });
</script>
