<!--Wenn user Angemeldet dann leite auf home weiter-->
{{#if username}}
<script type="text/javascript">
    window.location = "/";
</script>
{{else}}
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12" id="signin">
        <div class="card card-signin">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="form-signin-heading text-center">Account erstellen</h2>
                                    <form class="form-signin" id="reg-form" role="form">
                                            <div id="user" class="form-group">
                                                <label for="inputUser" class="sr-only">Benutzername</label>
                                                <input type="user" name="username" id="inputUser" class="form-control" placeholder="Benutzername" required autofocus>
                                            </div>
                                            <div id="email" class="form-group">
                                                <label for="inputEmail" class="sr-only">E-Mail</label>
                                                <input type="email"  name="email" id="inputEmail" class="form-control" placeholder="E-Mail" required>
                                            </div>
                                            <div id="pw" class="form-group">
                                                <label for="inputPassword" class="sr-only">Passwort</label>
                                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
                                            </div>
                                            <div id="pw2" class="form-group">
                                                <label for="inputPasswordCheck" class="sr-only">Passwort bestätigen</label>
                                                <input type="password" name="passwordcheck" id="inputPasswordCheck" class="form-control" placeholder="Passwort bestätigen" required>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="agbCheckbox"> Ich akzeptiere die <a href="nutzungsbedingungen" target="_blank" onclick="return popup(this.href);">Nutzungsbedingungen</a>
                                                </label>
                                            </div>
                                            <div class="g-recaptcha" data-sitekey={{pub_captcha}}></div>
                                            <button id="regBtn" class="btn btn-lg btn-primary btn-block" type="submit">Registrieren</button>
                                            <div id="regMsgBox"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    var cptch = $('#recaptcha-anchor-label').html();

    $("#regBtn").click(function(e){
        e.preventDefault();


        if($('#agbCheckbox').prop('checked') == false)
        {
            $("#regMsgBox").html('<div class="alert alert-danger" role="alert">Sie müssen die Nutzungsbedingungen akzeptieren.</div>');
        }
        else
        {

            var postData = $("#reg-form").serializeArray();
            console.log(postData);

            $('#reg-form')[0].checkValidity();

            //prüfen ob alle Daten angeben wurden
            var valid = true;

            if(postData[0].value == ''){
                valid = false;
                $("#user").addClass('has-error');
            }
            if(postData[1].value == ''){
                valid = false;
                $("#email").addClass('has-error');
            }
            if(postData[2].value == ''){
                valid = false;
                $("#pw").addClass('has-error');
            }
            if(postData[3].value == ''){
                valid = false;
                $("#pw2").addClass('has-error');
            }

            if(valid == true){
                 $.ajax({
                        type: 'POST',
                        url: '/main/dynamic/action/register',
                        data: JSON.stringify(postData),
                        contentType: 'application/json',
                        success: function(data){
                            if(data.reg === "fehler"){
                                $("#regMsgBox").html('<div  class="alert alert-danger" role="alert">Fehler bei der Registrierung.</div>');
                            }else{
                                $("#regMsgBox").html('<div  class="alert alert-success" role="alert">Registrierung erfolgreich. <a href="/">Startseite</a></div>');
                                setTimeout('window.location = "/"',5000);
                            }
                        },
                        error: function(){
                                //Fehler ausgeben
                            }
                    });
            }else{
                $("#regMsgBox").html('<div  class="alert alert-danger" role="alert">Bitte überprüfen Sie Ihre Angaben.</div>');
            }
        }
    });


    function popup (url) {
        fenster = window.open(url, "Popupfenster", "width=500,height=600,resizable=yes,scrollbars=yes");
        fenster.focus();
        return false;
    }
</script>



{{/if}}
