<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="cdTime text-center" id="countdown"></div>
        <div class="text-center mt-10">
            <div class="text-center" id="qr">
            </div>
            <h3>Sie werden weitergeleitet zu:</h3>
            <div class="col-md-12 col-md-offset-0">
                <div class="panel panel-default">
                    <div class="panel-body" id="olink">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" id="pauseBtn" title="Counter anhalten"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span> pause</button>
                        <button type="button" class="btn btn-default" id="skipBtn"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> weiter</button>
                        <button type="button" class="btn btn-default" id="googleBtn" title="Link bei Google suchen"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        <a href="" class="btn btn-default" download="qr.png" id="saveQRCBtn"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></a>
                        <button type="button" class="btn btn-default" id="printBtn" title="drucken"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></button>
                    </div>
                    <br/><br/><br/>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript">

    var count = 5;
    var data ={{{slinkData}}};
    var org_link = data[0].org_link;
    var slink = data[0].slink;
    var link = "";
    var glink = "";
    var description = data[0].description;
    var redirectUrl = "";
    var currentUrl = setProtocol(window.location.host) + "/" + slink;
    var t;

    link = setProtocol(org_link);

    console.log(link);

    document.getElementById('olink').href = link;
    document.getElementById('olink').innerHTML = link;
    //document.getElementById('description').innerHTML = "Beschreibung:<br>" + description;
    glink = "https://google.com/?q=" + link + "#q=site:" + org_link;

    function setProtocol(checklink)
    {
        if((checklink.indexOf("://")) == -1)
        {
            return "http://" + checklink;
        }
        return checklink;
    }

    function countdown() {
        // starts countdown
        document.getElementById('countdown').innerHTML = count;
        if (count == 0) {
            redirect();
        } else {
            count--;
            t = setTimeout('countdown()', 1000);
        }
    };

    function redirect(){
        window.location = link;
    };

    $('#pauseBtn').click(function(){
        clearTimeout(t);
    });

    $("#skipBtn").click(function(e){
        redirect();
    });

    $("#googleBtn").click(function(e){
        window.location = glink;
    });

    $("#printBtn").click(function(e){
        window.location = setProtocol(window.location.host) + "/p/" + slink;
    });

    $("#saveQRCBtn").click(function(e){
        document.getElementById('saveQRCBtn').download = slink + ".png";
        document.getElementById('saveQRCBtn').href = $("#qr").children('img').attr("src");
    });

    $(function ()
    {
        $("#qr").qrcode({
        "render":"image",
        "size": 200,
        "fill": '#000',
        "background": '#fff',
        "text": currentUrl,
        "ecLevel": 'H'
        });
    });
    countdown();


</script>
