/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.10.2014, 12:55:22
    Author     : hex
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
    background: url(/img/bg.png) repeat;
    margin-bottom: 40px;
}
.wrap{
    margin-top: 50px;
}
.footertext{
    margin-top: 10px;
}
#qr > img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
    background-color: #FFFFFF;
}
h3{
    margin-top: 12px;
}
#username{
    margin-right: 10px;
    font-size: 20px;
    position: relative;
    top: -1px;
    cursor: pointer;
    border-color: rgb(102, 175, 233);
    color: #555;
    text-shadow:
    0 0 0.1em rgba(20, 25, 23, 0.1),
    0 0 0.1em rgba(20, 25, 23, 0.1),
    0 0 0.1em rgba(20, 25, 23, 0.1)
}
a.dropdown-toggle:hover{
     text-decoration: none;
}
.btn:focus
{
outline:0;
-webkit-outline:0;
-moz-outline:0;
}
.form-signin {
  padding-top: 20px;
}
.form-signin-heading {
  margin: 0 0 0px;
  font-size: 18px;
  font-weight: 400;
  color: #555;
}
.form-signin .checkbox {
  margin-bottom: 10px;
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.dropdown-menu{
    min-width: 200px;
    padding: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.form-signin input[type="user"] {
  margin-bottom: 10px;
}
img.navbar-logo{
    height: 35px;
    margin-top: 8px;
}
.navbar-brand{
    padding: 2px 15px;
}
a.dropdown-toggle{
    color: rgb(51, 51, 51);

}
h3.title{
    margin-top: 10px;
}
.card {
  padding: 10px 0px 10px;
  margin: 0 auto 25px;
  background-color: #f7f7f7;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
          box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}
.card-signin {
  max-width: 555px;
}

.card-home {
  width: auto;
}

.card-admin {
  width: auto;
}

.card-contact {
  width: 100%;
    max-width: 900px;
}

.card-signin .profile-img {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
}
.karte {
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  background-color: #f7f7f7;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
          box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}
.signin{
  margin-top: 10%;
  position: relative;
}
.img-responsive{
    margin: 0 auto;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #EEE;
}
#qr{
    margin-bottom: 20px;
}
#olink{
    cursor: pointer;
    background-color: white;
}
.form-control-static {
    padding-top: 0px;
    padding-bottom: 7px;
}
.sbmBtn{
    margin-top: 10px;
    float: right;
}
.col-sm-85 {
    width: 70%;
    padding: 0;
    margin-bottom: 10px;
}
.col-sm-35{
    width: 30%;
    padding: 0;
    margin-bottom: 10px;
}
.row{
    margin: 0;
    padding: 0;
}
.col-md-12 {
    padding: 0;
}
.cdTime{
    font-size: 150px;
    margin: -50px;
}
.route{
    width: 40%;
    margin: 0 auto;
}
.navbar-inner{
    /*height: 90px*/
    min-height: 60px
    }
.navbar .brand{
    padding: 0 10px;
}
.navbar .nav > li > a {
    padding: 20px 15px;
    /*padding: 35px 15px;*/
}
.navbar .btn-navbar {
    /*margin-right: 0px;*/
    margin-top:15px;
}
.logo{
    margin-top: 5px;
    color: #555;
    text-decoration: none;
}
.logo:hover{
    text-decoration: none;
}
#loginToggle:hover{
    cursor: pointer;
    border-color: rgb(102, 175, 233);
    background: none repeat scroll 0 0 #000000;
    color: #555;
    text-shadow:
    0 0 0.1em rgba(20, 25, 23, 0.1),
    0 0 0.1em rgba(20, 25, 23, 0.1),
    0 0 0.1em rgba(20, 25, 23, 0.1)
}

.mt-05 { margin-top: 0.5em; }
.mt-10 { margin-top: 1.0em; }
.mt-15 { margin-top: 1.5em; }
.mt-20 { margin-top: 2.0em; }
.mt-25 { margin-top: 2.5em; }
.mt-30 { margin-top: 3.0em; }
.mt-40 { margin-top: 4.0em; }
.mt-50 { margin-top: 5.0em; }

.tooltip-inner {
    white-space:pre-wrap;
}

.text-muted{
    color: #AAA;
}
.tab-pane{
    width: 100%;
    margin: 0;
    overflow: auto;
}
.table{
    margin: 0;
    padding: 0;
}

#linkstable{
    word-wrap: normal;
}

td
{
    overflow: hidden;
}
/* CSS fürs ausdrucken */
@media print{
    nav, footer, .btn {
    display: none;
    }
}
.g-recaptcha{
    float: left;
}
#saveBtn{
    float: right;
    width: 100%;
}
#urlMsgBox, #regMsgBox{
    clear: left;
    float: left;
    width: 100%;
    display: block;
    text-align: left;
}
#regMsgBox{
    margin-top: 1em;
}
.col-sm-12{
    padding-left: 10px;
    padding-right: 10px;
}
.col-xs-12{
    padding-left: 10px;
    padding-right: 10px;
}
.container.wrap {
    padding-left: 0px;
    padding-right: 0px;
}
#signin{
    padding-left: 0px;
    padding-right: 0px;
}
#agb{
    float: left;
    max-width: 60%;
    text-align: left;
}
#saveLink{
    float: right;
    width: 100px;
}
#saveLink-bottom{
    float: right;
    width: 100px;
    margin-bottom: 1em;
}
.checkbox{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}
#recaptcha{
    margin-top: 1em;
    float: right;
    width: 100%;
    margin-bottom: 1em;
}
#recaptcha-top{
    float: left;
    width: auto;
    margin-bottom: 1em;
}
#regBtn{
    clear: left;
    float: left;
    margin-top: 1em;
}
#msgBox{
    margin-top: 15px;
    width: 100%;
}
nav a:link {
    text-decoration: none;
}

/* visited link */
nav a:visited {
    text-decoration: none;
}

/* mouse over link */
nav a:hover {
    text-decoration: none;
}

/* selected link */
nav a:active {
    text-decoration: none;
}
#myLinks {
    clear: left;
    float: left;
    width: 100%;
}
